# Ignore everything in the directory
/*

# Except the assets directory and its contents
!/assets/

# Except the cards_data.json file
!/cards_data.json


# Except this .gitignore file
!/.gitignore

!/BladeGamer MTGA Draft Helper